@model BlogArticle
@{
    ViewBag.Title = "Edit";

   
}

<h2>编辑</h2>
 @using (Html.BeginForm("ArticleSave", "Blog"))
 { 


   

                         <input type = "hidden" value = "@Model.Id" name = "Id" />


                              <table class="table table-bordered">
          <tr>
              <td>标题：</td>

             <td>
                @Html.TextBox("Subject")
               <div>@Html.ValidationMessageFor(o => o.Subject)</div>
             </td>
          </tr>
          <tr>
              <td>内容</td>
              <td>

                 @Html.TextArea("Body", new { style = "width:600px; max-width:1000px;" })
             <div> @Html.ValidationMessageFor(o => o.Body)</div>
             </td>
          </tr>
          <tr>

          </tr>

      </table>

 } 